%html
	%head
		%meta{:charset => "utf-8"}
		%title Test
		%link{:rel => "stylesheet", :href => "Content/css/font-awesome.min.css"}
		%link{:rel => "stylesheet", :href => "Content/css/style.min.css"}
		%script{:src => "Scripts/jquery-1.12.3.min.js"}
		%script{:src => "Scripts/handlebars-v4.0.5.js"}
		%script{:src => "Scripts/script.js", :defer => ""}
	%body
		.login
			%input.field-text{:type => "text", :placeholder => "user-id"}
			.button Ok
		.main-wrap
			.column
			.column
			.column
			.column

	.popup-wrap.js-lightbox-offer.hidden
	%script#offer-templ{:type => "text/x-handlebars-template"}
		.popup.lightbox-offer{:"data-id" => "{{id}}"}
			.lightbox-header
				.author
					%img.person-avatar{:src => "{{author.0.avatar}}"}
					.personal-content
						%a.person-name.link{:href => "/"} {{author.0.fullname}}
						%br
						%span.status Нуждается в этом
					.button Добавить в друзья
				.close-lightbox
					%span.icon.fa.fa-times
					%span.content Закрыть
			.lightbox-body
				.main-content.clearfix
					.offer-wrap
						.title-wrap
							.offer-title {{title}}
							.offer-category {{category}}
						%img.offer-img{:src => "images/offerImg.gif"}
						.offer-content {{content}}
					.social-actions
						.button.js-offer-save Добавить к себе
						.button.js-like Мне нравится
						.button.js-comments Комменировать
				.latest-comments.hidden
					{{#latestComments answers.0.fromUsers}}
					.author
						%img.person-avatar{:src => "{{avatar}}"}
						.personal-content
							%span.comment {{comment}}
					{{/latestComments}}
				.add-comment.hidden
					.author
						%img.person-avatar
						.personal-content
							%input.field-textarea.js-comment{:type => "textarea", :placeholder => "Комментировать"}
			.lightbox-footer
				.count-saved
					%span.title {{saved.0.count}} добавили себе
					%ul.list
						{{#each saved.0.fromUsers}}
						%li.list-item
							%img.person-avatar{:src => "{{avatar}}"}
						{{/each}}
				.count-liked
					%span.title {{likes.0.count}} нравится
					%ul.list
						{{#each likes.0.fromUsers}}
						%li.list-item
							%img.person-avatar{:src => "{{avatar}}"}
						{{/each}}



%script#offer-plate-templ{:type => "text/x-handlebars-template"}
	.offer-plate{:"data-id" => "{{id}}"}
		%img.offer-img{:src => "{{img}}"}
		.view-offer Ознакомиться с предложением
		.social-actions
			.item.js-offer-save.fa.fa-lightbulb-o
			.item.js-like.fa.fa-heart
			.item.js-comments.fa.fa-plus
			.item.js-answer.fa.fa-comment-o
		.offer-content
			.description
				.offer-title {{title}}
				.offer-category {{category}}
				.offer-date {{dateFrom}}-{{dateTo}}
				.offer-location {{location}}
			.social-info
				%span.item.count-likes {{likes.0.count}} нравится
				%span.item.count-comments {{comments.0.count}} комментария
				%span.item.count-answers {{answers.0.count}} отзыва
				%span.item.count-saved {{saved.0.count}} добавили себе
			.offer-author
				.author
					%img.person-avatar{:src => "{{author.0.avatar}}"}
					.personal-content
						%a.person-name.link{:href => "/"} {{author.0.fullname}}
						%br
						%span.status предлагает
			.latest-comments.hidden
				{{#latestComments comments.0.fromUsers}}
				.author
					%img.person-avatar{:src => "{{avatar}}"}
					.personal-content
						%span.comment {{comment}}
				{{/latestComments}}
			.add-comment.hidden
				.author
					%img.person-avatar
					.personal-content
						%input.field-text.js-comment{:type => "text", :placeholder => "Комментировать"}
