.offer-plate {
	position: relative;
	width: 225px;
	margin: 10px;
	border: 1px solid #EBEBEB;
	border-top: none;
	border-radius: 10px;
	background: #F1F1F1;

	&.hover {
		border: 1px solid #ABC9E8;
	}
}

.offer-img {
	width: 100%;
	max-height: 300px;

	&:hover {
		~ .social-actions {
			opacity: 1;
		}

		~ .view-offer {
			opacity: 1;
		}
	}
}

.view-offer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 0;
	text-align: center;
	color: #FFFFFF;
	background: #ABC9E7;
	border-radius: 7px 7px 0 0;
	opacity: 0;
	cursor: pointer;
}

.offer-content {
	margin-bottom: 15px;
	background: #FFFFFF;

	.description {
		padding: 15px 15px 40px;
	}

	.offer-title {
		margin-bottom: 15px;
	}

	.offer-category,
	.offer-date,
	.offer-location {
		font-size: 11px;
		color: #82838A;
	}
}

.offer-title {
		font-weight: bold;
	}

.social-actions {
	position: absolute;
	top: 35px;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
	transition: opacity .5s;

	&:hover {
		opacity: 1;
	}

	> .item {
		margin: 0 12px;
		font-size: 28px;
		color: #B7B7B7;
		cursor: pointer;

		&:hover {
			color: #AF3593;
		}
	}
}

.social-info {
	margin: 0 15px 10px;

	> .item {
		display: inline-block;
		margin-right: 15px;
		font-size: 11px;
		color: #82838A;
		cursor: pointer;
	}
}

.author,
.latest-comments,
.add-comment {
	background: #F1F1F1;
}

.add-comment {
	.author {
		padding-bottom: 0;
		border-bottom: none;
	}
}

.author {
	padding: 15px;
	border-bottom: 1px solid #D7D7D7;
}

.person-avatar {
	width: 30px;
	height: 30px;
	border-radius: 30px;
	vertical-align: middle;
	box-sizing: border-box;
}



.personal-content {
	display: inline-block;
	margin-left: 12px;
	width: calc(100% - 45px);
	color: #82838A;
	vertical-align: middle;

	.status {
		font-style: italic;
	}

	.person-name {
		font-style: normal;
	}

	.comment {
		font-style: normal;
		color: #000000;
	}

	.field-text {
		width: 100%;
		margin: 0;
	}
}
